<!DOCTYPE html>
<html>
  <body>
    <div cds-layout="vertical" th:fragment="app-container(content)">
      <!-- <cds-alert-group type="banner" status="info">
          <cds-alert closable>
              <em>Single line alert:</em> This alert example has only a single line of text.
          </cds-alert>
      </cds-alert-group> -->
      <header cds-layout="horizontal p:sm align:vertical-center" class="header">
          <cds-icon shape="node-group" size="lg"></cds-icon>
          <span cds-text="title">Workshops as a Service</span>
      </header>
    <div cds-layout="horizontal wrap:none" class="content-container">
      <cds-navigation expanded>
          <cds-navigation-item th:active="(${view} == ''index'')? ''index'' : _">
              <a href="#" th:href="@{/trainingportals}">
                  <cds-icon shape="grid-view"></cds-icon>
                  My Workshops
              </a>
          </cds-navigation-item>
          <cds-navigation-item th:active="(${view} == ''new'')? ''new'' : _">
            <a href="#" th:href="@{/trainingportals/new}">
                <cds-icon shape="plus-circle"></cds-icon>
                New Workshop
            </a>
        </cds-navigation-item>
    </cds-navigation>
      <div th:replace="${content}"></div>
      </div>
    </div>
  </body>
</html>