<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>New Training Portal</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body cds-text="body" cds-theme="dark">
  <div th:insert="fragments/layout :: app-container(~{ :: #content})">

    <div id="content" cds-layout="p:md">
      <form action="subscribe.html" th:action="@{/trainingportals/create}" method="post" onsubmit="selectWorkshops();">
        <cds-form-group layout="horizontal">
          <cds-input control-width="shrink">
            <label>Name</label>
            <input type="text" id="name" name="name" th:value="|${user}-workshop|" />
          </cds-input>
          <cds-input-group layout="horizontal">
            <label>Expires</label>
            <cds-input>
              <label>Local Date & Time</label>
              <input type="datetime-local" id="expires" name="expires"/>
            </cds-input>
            <cds-datalist layout="horizontal">
              <label>Timezone</label>
              <input id="zone" name="zone" />
              <datalist>
                <option th:each="zoneId: ${zoneIds}" th:value="${zoneId}"></option>
              </datalist>
            </cds-datalist>
          </cds-input-group>
          <cds-select>
            <label>Available Workshops</label>
            <select id="availableWorkshops" multiple>
              <option th:each="workshop: ${workshops}" th:value="${workshop.name}" th:text="${workshop.title}">Option One</option>
            </select>
          </cds-select>
          <div cds-layout="horizontal gap:lg align:center">
            <cds-button type="button" action="outline" size="icon" onclick="moveSelectedValues(document.getElementById(''availableWorkshops''), document.getElementById(''workshops''))">⬇</cds-button>
            <cds-button type="button" action="outline" size="icon" onclick="moveSelectedValues(document.getElementById(''workshops''), document.getElementById(''availableWorkshops''))">⬆</cds-button>
          </div>
          <cds-select>
            <label>Selected Workshops</label>
            <select multiple name="workshops" id="workshops">
            </select>
          </cds-select>
          <cds-button type="submit">Create</cds-button>
        </cds-form-group>
      </form>
    </div>

  </div>
</body>
<script type="module">
  import ''/index.js'';
</script>
<script>
//14 days from now
const futureDate = new Date(Date.now() + (86400000*14));

document.getElementById(''expires'').value = futureDate.getFullYear().toString() + "-" +
  ("0"+(futureDate.getMonth()+1)).slice(-2) + "-" +
  ("0" + futureDate.getDate()).slice(-2) + "T" +
  ("0" + futureDate.getHours()).slice(-2) + ":" + ("0" + futureDate.getMinutes()).slice(-2);

document.getElementById(''zone'').value=Intl.DateTimeFormat().resolvedOptions().timeZone;
function moveSelectedValues(from, to) {
  var options = from && from.options;
  var opt;
  var optsToMove = [];

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];

    if (opt.selected) {
      optsToMove.push(opt);
    }
  }

  optsToMove.forEach(value => {
    var newopt = value.cloneNode(true);

    from.removeChild(value);
    to.appendChild(newopt);
  });
}

function selectWorkshops() {
  var options = document.getElementById(''workshops'').options

  for (var i=0, iLen=options.length; i<iLen; i++) {
    opt = options[i];
    opt.selected=true;
  }

  return true;
}
</script>
</html>