<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
  <title>New Training Portal</title> 
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script type="module" th:inline="javascript">
    import {createApp, DurationComponent} from "/index.js";

    const futureDate = new Date(Date.now() + 86400000);
    
    createApp({
      components: {
        DurationComponent
      },
      data() {
        return {
          workshops: [[${workshops}]],
          selectedWorkshop: null,
          removedWorkshops:[],
          trainingPortal: {
            name: [[${user +"-"+ T(java.util.Base64).getEncoder().withoutPadding().encodeToString(T(java.nio.ByteBuffer).allocate(8).putLong(T(java.lang.System).currentTimeMillis()).array())}]],
            expires: futureDate.getFullYear().toString() + "-" +
              ("0"+(futureDate.getMonth()+1)).slice(-2) + "-" +
              ("0" + futureDate.getDate()).slice(-2) + "T" +
              ("0" + futureDate.getHours()).slice(-2) + ":" + ("0" + futureDate.getMinutes()).slice(-2),
            zone: Intl.DateTimeFormat().resolvedOptions().timeZone,
            workshops: []
          }
        }
      },
      computed: {
        portalDomain() {
          return this.trainingPortal.name + "-ui." + window.location.hostname.substring(window.location.hostname.indexOf('.')+1);
        },
        formValid() {
          return this.trainingPortal.workshops.length == 0 ||
            this.trainingPortal.name.length == 0;
        }
      },
      methods: {
        addWorkshop() {
          let currentIndex=this.trainingPortal.workshops.length;
          this.trainingPortal.workshops[currentIndex] = {
            name: this.selectedWorkshop.name,
            capacity: 20,
            reserved: 2,
            expires: "60m",
            orphaned: "20m"
          };

          for(let i=0; i < this.workshops.length; i++) {
            if(this.selectedWorkshop.name == this.workshops[i].name) {
              this.workshops.splice(i,1);
              this.removedWorkshops[currentIndex]={originalIndex: i, workshop: this.selectedWorkshop};
            }
          }

        },
        deleteWorkshop(index) {
          this.trainingPortal.workshops.splice(index, 1);
          this.workshops.splice(this.removedWorkshops[index].originalIndex, 0, this.removedWorkshops[index].workshop);
          this.removedWorkshops.splice(index, 1);
        },
        submitForm() {
          fetch('[(@{/trainingportals})]', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
              'X-XSRF-TOKEN': '[(${_csrf.token})]',
            },
            body: JSON.stringify(this.trainingPortal),
          })
            .then((data) => {
              console.log('Success:', data);
              window.location = '[(@{/trainingportals})]';
            })
            .catch((error) => {
              console.error('Error:', error);
            });
        }
      }
    }).mount('#content')
  </script>
</head>
<body cds-text="body" cds-theme="dark" style="background-color: #1B2A33;">
  <div th:insert="fragments/layout :: app-container(~{ :: #content})">

    <div id="content" cds-layout="p:md">
      <form v-on:submit.prevent="submitForm" ref="form">
        <cds-form-group layout="horizontal-inline" control-width="shrink">
          <cds-input control-width="shrink">
            <label>Name</label>
            <input type="text" id="name" name="name" v-model="trainingPortal.name" required/>
            <cds-control-message error="valueMissing" hidden="">Name is required</cds-control-message>
            <cds-control-message>Portal URL will be {{portalDomain}}</cds-control-message>
          </cds-input>
          <cds-input-group layout="horizontal">
            <label>Expires</label>
            <cds-input>
              <label>Local Date & Time</label>
              <input type="datetime-local" id="expires" name="expires" v-model="trainingPortal.expires"/>
            </cds-input>
            <cds-datalist layout="horizontal">
              <label>Timezone</label>
              <input id="zone" name="zone" v-model="trainingPortal.zone"/>
              <datalist>
                <option th:each="zoneId: ${zoneIds}" th:value="${zoneId}"></option>
              </datalist>
            </cds-datalist>
          </cds-input-group>
          <div cds-layout="horizontal gap:lg align:vertical-center">
            <cds-select>
              <label>Available Workshops</label>
              <select id="availableWorkshops" v-model="selectedWorkshop">
                <option v-for="workshop in workshops" v-bind:value="workshop" v-bind:text="workshop.title">Option One</option>
              </select>
              <cds-control-message>{{selectedWorkshop?.description}}</cds-control-message>
            </cds-select>
            <cds-divider orientation="vertical"></cds-divider>
            <cds-button type="button" action="flat-inline" @click="addWorkshop">Add</cds-button>
          </div>
          <div cds-layout="grid cols@sm:3 p:md gap:md">
            <cds-card v-if="trainingPortal.workshops.length == 0">
              <div cds-layout="vertical gap:md">
                <div cds-text="body light">Select each workshop module you want to include in your portal from the list above and click the "Add" link.</div>
              </div>
            </cds-card>
            <cds-card v-for="(workshop, index) in trainingPortal.workshops">
                <div cds-layout="vertical gap:md">
                    <h2 cds-text="section">{{workshop.name}}</h2>

                    <cds-divider cds-card-remove-margin></cds-divider>

                    <form>
                      <cds-form-group layout="horizontal-inline" control-width="shrink" validate>
                        <cds-input control-width="shrink">
                          <label>Capacity</label>
                          <input type="number" v-model="workshop.capacity" min="1"/>
                          <cds-control-message error="rangeUnderflow" hidden="">Must be an integer value greater than 0</cds-control-message>
                          <cds-control-message>The hard maximum number of concurrent sessions for this module</cds-control-message>
                        </cds-input>
                        <cds-input control-width="shrink">
                          <label>Reserved</label>
                          <input type="number" v-model="workshop.reserved" min="0"/>
                          <cds-control-message error="rangeUnderflow" hidden="">Must be a positive integer value, or 0</cds-control-message>
                          <cds-control-message>The number of sessions to pre-stage for this module</cds-control-message>
                        </cds-input>
                        <duration-component label="Expiry" v-model="workshop.expires"
                          controlinfo="Length of time a session can run without user extension"></duration-component>
                        <duration-component label="Orphaned" v-model="workshop.orphaned"
                          controlinfo="Length of time a session can have browser disconnected before expiring"></duration-component>
                      </cds-form-group>
                    </form>
                    <div cds-layout="horizontal gap:sm align:vertical-center">
                        <cds-button type="button" action="outline" size="sm" status="danger" @click="deleteWorkshop(index)">Delete</cds-button>
                    </div>
                </div>
            </cds-card>
          </div>
          <cds-button type="submit" :disabled="formValid">Create</cds-button>
        </cds-form-group>
      </form>
    </div>

  </div>
</body>
</html>