<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="|${trainingPortal.name} Portal Details|">foobar Portal Details</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <style>
    .flip-container {
      perspective: 1000px;
    }
      /* flip the pane when hovered */
      .flip-container.flip .flipper {
        transform: rotateY(180deg);
      }

    .flip-container, .front, .back {
      width: 16px;
      height: 16px;
    }

    /* flip speed goes here */
    .flipper {
      transition: 0.6s;
      transform-style: preserve-3d;

      position: relative;
    }

    /* hide back of pane during swap */
    .front, .back {
      backface-visibility: hidden;

      position: absolute;
      top: 0;
      left: 0;
    }

    /* front pane, placed above back */
    .front {
      z-index: 2;
      /* for firefox 31 */
      transform: rotateY(0deg);
    }

    /* back, initially hidden pane */
    .back {
      transform: rotateY(180deg);
    }

  </style>
  <script type="module">
    import {createApp} from "/index.js";
    createApp({
      model: {
        toastVisible: false
      },
      methods: {
        copyPassword() {
          var copyText = document.getElementById("adminPassword").innerText;
          navigator.clipboard.writeText(copyText).then(() => {
            // Alert the user that the action took place.
            // Nobody likes hidden stuff being done under the hood!
            document.getElementById("admin-password-clipboard").classList.toggle("flip");
            window.setTimeout(this.hideToast, 2000);
          });
        },
        hideToast() {
          document.getElementById("admin-password-clipboard").classList.toggle("flip");
        }
      }
    }).mount('#content')
  </script>
</head>

<body cds-text="body" cds-theme="dark">
  <div th:insert="fragments/layout :: app-container(~{ :: #content})">
    <div id="content" cds-layout="vertical cols:auto p:md">
      <h1 th:text="${trainingPortal.name}">ACME Co. Training</h1>
      <div cds-layout="horizontal gap:lg">
        <a href="#" th:href="${trainingPortal.url}" target="_blank">
          <cds-button action="flat-inline">Portal Page</cds-button>
        </a>
        <a href="#" th:href="${trainingPortal.url} + '/admin'" target="_blank">
          <cds-button action="flat-inline" target="_blank">Portal Admin Page</cds-button>
        </a>
      </div>
      <div cds-layout="grid p:md gap:lg">
        <label cds-text="inline bold" cds-layout="col:1">Expires:</label>
        <div cds-layout="horizontal pd:sm col:11">
          <span th:text="${#temporals.format(trainingPortal.expires, 'yyyy-MM-dd HH:mm')}">2095-01-23 20:54</span>
          <span>&nbsp;</span>
          <span th:text="${trainingPortal.zone}">America/New_York</span>
        </div>

        <label cds-text="inline bold" cds-layout="col:1">Admin Username:</label>
        <span cds-layout="col:11" th:text="${trainingPortal.adminUsername}">???</span>

        <label cds-text="inline bold" cds-layout="col:1">Admin Password:</label>
        <div cds-layout="col:11 gap:md horizontal">
          <span th:text="${trainingPortal.adminPassword}" id="adminPassword">???</span>
          <cds-icon-button style="vertical-align: top" @click="copyPassword">
            <div id="admin-password-clipboard" class="flip-container">
              <div class="flipper">
                <div class="front">
                  <cds-icon shape="copy-to-clipboard"></cds-icon>
                </div>
                <div class="back">
                  <cds-icon shape="check"></cds-icon>
                </div>
              </div>
            </div>
          </cds-icon-button>
        </div>
        <label cds-text="inline bold" cds-layout="col:1">Registration Type:</label>
        <div cds-layout="horizontal pd:sm col:11" th:switch="${trainingPortal.authType}">
          <span th:case="${T(com.vmware.tanzu.se.waasportal.model.TrainingPortal.AuthType).ONE_STEP}">Users must register</span>
          <span th:case="${T(com.vmware.tanzu.se.waasportal.model.TrainingPortal.AuthType).ANONYMOUS}">No registration</span>
          <span th:case="*">Unknown</span>
        </div>

        <label cds-text="inline bold" cds-layout="col:1" th:unless="${#strings.isEmpty(trainingPortal.portalPassword)}">Portal Password:</label>
        <div cds-layout="horizontal pd:sm col:11" th:unless="${#strings.isEmpty(trainingPortal.portalPassword)}">
          <span th:text="${trainingPortal.portalPassword}">BOGUSPASSWORD</span>
        </div>
      </div>
      <div cds-layout="grid cols@sm:3 p:md gap:md">
        <cds-card th:each="workshop: ${trainingPortal.workshops}">
          <div cds-layout="vertical gap:md" cds-text="body light">
            <h2 cds-text="section" th:text="${workshop.name}" cds-layout="col:12">A Great Workshop</h2>
            <cds-divider cds-card-remove-margin></cds-divider>
            <div cds-layout="grid gap:md">
              <label cds-text="inline bold" cds-layout="col:1" for="capacityText">Capacity:</label> <span id="capacityText" th:text="${workshop.capacity ?: 'Unlimited'}" cds-layout="col:11">999</span>
              <label cds-text="inline bold" cds-layout="col:1">Initial:</label> <span th:text="${workshop.initial ?: 0}" cds-layout="col:11">999</span>
              <label cds-text="inline bold" cds-layout="col:1">Reserved:</label> <span th:text="${workshop.reserved ?: 0}" cds-layout="col:11">999</span>
              <label cds-text="inline bold" cds-layout="col:1">Expires:</label> <span th:text="${workshop.expires ?: 'Never'}" cds-layout="col:11">999m</span>
              <label cds-text="inline bold" cds-layout="col:1">Orphaned:</label> <span th:text="${workshop.expires ?: 'Never'}" cds-layout="col:11">999m</span>
            </div>
            <div cds-text="body light" th:unless="${#maps.isEmpty(workshop.env)}">
              <label cds-text="inline bold">Environment:</label>
              <table>
                <tr>
                  <th>Name</th>
                  <th>Value</th>
                </tr>
                <tr th:each="env: ${workshop.env}">
                  <td th:text="${env.key}">A name</td>
                  <td th:text="${env.value}">A value</td>
                </tr>
              </table>
            </div>
          </div>
        </cds-card>
      </div>

    </div>
</body>

</html>