@import "../frontend/node_modules/modern-normalize/modern-normalize"; // css reset
@import "../frontend/node_modules/@cds/core/global.min"; // clarity global styles
@import "../frontend/node_modules/@cds/city/css/bundles/default.min"; // load base font
@import "../frontend/node_modules/@cds/core/styles/theme.dark.min";

.root-layout {
  height: 100vh;
}

.nav {
  height: 100%;
}

.content-container {
  height: 100%;
}

.header {
  background-color: #0f171c!important;
}